PORT=5173
BIND_HOST=127.0.0.1
MAT_IMAGE_CONCURRENCY=2
MAT_IMAGE_MAX_ATTEMPTS=1
MAT_IMAGE_TIMEOUT_MS=900000
MAT_FIXED_LAYOUT_CONCURRENCY=3
MAT_IMAGE_REFERENCE_TIMEOUT_MS=900000
MAT_IMAGE_REFERENCE_MAX_ATTEMPTS=1
RULE_TIMEOUT_MS=900000
RULE_MAX_ATTEMPTS=2
